.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms $cubic-bezier-easing;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--hidden .modal {
  transition: transform 250ms $cubic-bezier-easing;
  transform: translate(-50%, -50%) scale(0);
}
