.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
  height: 40px;
  width: 40px;
  margin: 0;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;

    width: 24px;
    height: 20px;
    &--cross {
      position: fixed;
      top: 10px;
      right: 10px;


      display: none;
      height: 19px;
      width: 19px;
    }

    &--burger {
      height: 16px;
      width: 24px;
    }
  }

  &.burger--open .burger-menu__icon--cross {
    display: flex;
  }

  &.burger--open .burger-menu__icon--burger {
    display: none;
  }

  @include onTablet {
    display: none;
  }
}
