.client-icons__list {
  display: flex;
  gap: 30px;

  @include onPhone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.client-icons__item {
  width: 170px;
  height: 92px;

  @include border-settings(1px solid $svg-grey-color, 4px);

  transition: border-color 250ms $cubic-bezier-easing;

  @include onPhone {
    width: 210px;
  }
}

.client-icons__link {
  @include flexbox;

  height: 100%;
  width: 100%;
}

.client-icons__svg {
  @include clients-icons-size;

  color: $svg-grey-color;

  transition: color 250ms $cubic-bezier-easing;
}

.client-icons__item a:focus,
.client-icons__item:hover {
  border-color: $main-blue-color;
}

.client-icons__item a:focus .client-icons__svg,
.client-icons__item:hover .client-icons__svg {
  color: $main-blue-color;
}
