.client-icons__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  gap: 30px;
  justify-content: center;

  @include onTablet {
    flex-wrap: wrap;
    max-width: 738px;
  }

  @include onDesktop {
max-width: 1200px;
  }
}

.client-icons__item {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  height: 92px;

  @include border-settings(1px solid $svg-grey-color, 4px);

  transition: border-color 250ms $cubic-bezier-easing;

  @include onTablet {
    width: 226px;
  }

  @include onDesktop {
    width: 170px;
  }
}

.client-icons__link {
  @include flexbox;

  height: 100%;
  width: 100%;
}

.client-icons__svg {
  @include clients-icons-size;

  color: $svg-grey-color;

  transition: color 250ms $cubic-bezier-easing;
}

.client-icons__item a:focus,
.client-icons__item:hover {
  border-color: $main-blue-color;
}

.client-icons__item a:focus .client-icons__svg,
.client-icons__item:hover .client-icons__svg {
  color: $main-blue-color;
}
