.contacts {
  display: flex;
  gap: 50px;
  @include responsive(mobile) {
    display: none;
  }
  @include responsive(tablet) {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  &__email {
    display: flex;
    align-items: center;
    @include text-option($color-gray, 500, normal, 14px, unset, unset);
    text-decoration: none;
    transition-duration: 0.3s;
    @include responsive(tablet) {
      @include text-option($color-gray, 500, normal, 12px, 0.24px, unset);
    }
    &:hover {
      color: $color-light-blue;
      transition-duration: 0.3s;
      cursor: pointer;
    }

    &:hover .contacts__email-icon {
      color: $color-light-blue;
      transition-duration: 0.3s;
    }
  }
  &__email-icon {
    padding: 0 10px 0 0;
    height: 12px;
    width: 16px;
    color: $color-gray;
    transition-duration: 0.3s;
    @include responsive(tablet) {
      width: 14px;
      height: 10.009px;
    }
  }
  &__mobile {
    display: flex;
    align-items: center;
    color: $color-gray;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition-duration: 0.3s;
    @include responsive(tablet) {
      @include text-option($color-gray, 500, normal, 12px, 0.24px, unset);
    }

    &:hover {
      color: $color-light-blue;
      transition-duration: 0.3s;
      cursor: pointer;
    }
    &:hover .contacts__mobile-icon {
      color: $color-light-blue;
      transition-duration: 0.3s;
    }
  }
  &__mobile-icon {
    margin: 0 10px 0 0;
    width: 10px;
    height: 16px;
    color: $color-gray;
    transition-duration: 0.3s;
    @include responsive(tablet) {
      width: 10px;
      height: 14px;
    }
  }
}
