.container {
  margin: 0 auto;

  width: 1170px;

  @include onPhone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;

    flex-direction: column;
  }

  &__filter {
    display: flex;
    justify-content: center;

    @include onPhone {
      display: flex;
      justify-content: flex-start;
      padding-left: 15px;
    }
  }
}

