.contacts {
  display: none;

  @include onTablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  @include onDesktop {
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }

  gap: 40px;

  height: 100%;

  @include onPhone {
    display: none;
  }

  @include onTablet {
    flex-wrap: wrap;
  }

  &__icon {
    margin: 0 10px 0 0;
    fill: $text-grey-color;
  }

  &__icon--envelope-size {
    width: 16px;
    height: 12px;
  }

  &__icon--smartphone-size {
    width: 10px;
    height: 16px;
  }

  &__link {
    display: flex;
    align-items: center;

    @include font-style($text-grey-color, 14px, 500);

    letter-spacing: 0.28px;

    transition: color 250ms $cubic-bezier-easing;
  }

  &__link--footer {
    display: flex;
    color: rgba(255, 255, 255, 0.6);

    @include font-settings($l-height: 20px, $l-spacing: 0.42px);

    width: fit-content;
  }

  &__link:focus,
  &__link-footer:focus,
  &__link:hover,
  &__link-footer:hover {
    color: $main-blue-color;
  }

  &__link:hover::before {
    background-color: $main-blue-color;
  }
}
