.contacts {
  display: flex;
  align-items: stretch;
  gap: 40px;

  height: 100%;

  @include onPhone {
    display: none;
  }

  @include onTablet {
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    
    height: fit-content;
    width: 138px;
    
  }

  &__link {
    display: flex;
    align-items: center;

    @include font-style($text-grey-color, 14px, 500);

    letter-spacing: 0.28px;

    transition: color 250ms $cubic-bezier-easing;

    @include onTablet {
      @include font-style ($text-grey-color, 12px, 500);
    }
  }

  &__link--footer {
    display: flex;
    color: rgba(255, 255, 255, 0.6);

    @include font-settings($l-height: 20px, $l-spacing: 0.42px);

    width: fit-content;
  }

  &__link:focus,
  &__link-footer:focus,
  &__link:hover,
  &__link-footer:hover {
    color: $main-blue-color;
  }

  &__link:hover::before {
    background-color: $main-blue-color;
  }
}
