.container {
  margin: 0 auto;
  padding: 0 15px 0 15px;

  width: 100%;
  max-width: 510px;

  @include onTablet {
    max-width: 768px;
  }
  @include onDesktop {
    max-width: 1200px;
  }

  &--flexbox {
    display: flex;
    justify-content: center;
  }
}
