.features {
  @include onPhone {
    padding: 0 0 60px 0;
  }

  &__title--hidden {
    display: none;
  }

  &__list {
    display: flex;
    gap: 30px;

    @include onPhone {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 270px;

    @include onPhone {
      width: 450px;
    }
  }

  &__icon {
    @include feature-icons-size;
  }

  &__icon-background {
    margin: 0 0 30px;

    @include flexbox;

    height: 120px;

    border-radius: 4px;
    background-color: $background-grey-color;
  }

  &__item-title {
    margin: 0 0 10px;

    letter-spacing: 0.42px;
    text-transform: uppercase;

    @include font-style($text-black-color, 14px, 700);
    @include onPhone {
      text-align: center;
    }
  }

  &__item-text {
    @include font-settings($l-height: 24px, $l-spacing: 0.42px);

    @include font-style($text-grey-color, 14px);
  }
}
