.features {
  &__list {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  &__list-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #f5f4fa;
    margin: 0 0 30px;
  }
  &__list-item {
    width: 270px;
    display: flex;
    flex-direction: column;
  }
  &__item-image {
    width: 70px;
    height: 70px;
  }
  &__title {
    @include text-option($color-black, 700, 16px, 14px, 0.42px, unset);
    margin: 0 0 10px;
  }
  &__text {
    margin: 0px;
    @include text-option($color-gray, 400, 24px, 14px, 0.42px, justify);
  }
}
