.footer {
  padding: 60px 0;

  background-color: $background-black-color;

  @include onPhone {
    width: 480px;
  }
  @include onTablet {
    width: 768;
  }
}

.footer__content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 94px;

  @include onPhone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 60px;
  }

  @include onTablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include onPhone {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include onTablet {
    display: flex;
    align-items: center;
  }
}

.address {
  @include font-style(#fff, 14px);
  @include font-settings($l-height: 20px, $l-spacing: 0.42px);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;

  max-width: max-content;

  @include onPhone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  @include onTablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
