.header-icons {
  display: none;

  @include onTablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  @include onDesktop {
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }
}

.header__icons--indent {
  margin: 0 10px 0 0;
}

.header__icons--color {
  fill: $text-grey-color;
}

.header-icons--envelope-size {
  width: 16px;
  height: 12px;
}

.header-icons--smartphone-size {
  width: 10px;
  height: 16px;
}
