.header {
  border: 1px solid #ececec;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    @include onTablet {
      align-items:stretch ;
      height: 80px;

      gap: 88px;
    }

    @include onDesktop {
      gap: 93px;
    }
  }
}
