.hero__container {
  display: flex;
  justify-content: center;
}

.hero {
  padding: 200px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/hero/hero_image.jpg"), $background-black-color;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 35%;

  width: 1600px;

  &__title {
    margin: 0 0 30px;

    @include font-style(#fff, 44px, 900);

    @include font-settings($l-height: 60px, $l-spacing: 2.64px);

    text-align: center;
    text-transform: uppercase;

    width: 696px;
  }

  &__button {
    padding: 10px 24px;

    @include font-style(#fff, 16px, 700);
    @include font-settings(30px, 0.96px);

    @include border-settings(2px solid $main-blue-color, 4px);

    background-color: $main-blue-color;

    transition: border 250ms $cubic-bezier-easing,
      background-color 250ms $cubic-bezier-easing,
      color 250ms $cubic-bezier-easing;
  }

  &__button:focus,
  &__button:hover {
    border: 2px solid $main-blue-color;
    background-color: #fff;
    color: $main-blue-color;
  }
}
