.logo {
  display: flex;
  align-items: center;


  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;

  letter-spacing: 0.78px;

  width: fit-content;

  &__web {
    color: $main-blue-color;
  }

  &__studio--black {
    color: #000;
  }

  &__studio--white {
    color: #fff;
  }
}
