.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px 40px 40px 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $cubic-bezier-easing;

  width: 450px;

  border-radius: 4px;

  background: #fff;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    @include onDesktop {
     width: 528px;
    }
  &__icons_svg {
    width: 18px;
    height: 18px;

    color: #000;

    transition: color 250ms $cubic-bezier-easing;
  }

  &__icons_button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;

    @include flexbox;
    @include border-settings(1px solid rgba(0, 0, 0, 0.1), 50%);

    height: 30px;
    width: 30px;

    background: none;
    overflow: hidden;
  }

  &__icons_button:hover &__icons_svg {
    color: $main-blue-color;
  }

  &__title {
    margin: 0 0 12px 0;

    text-align: center;
    letter-spacing: 0.6px;

    @include font-style($text-black-color, 20px, 700);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__group {
    margin: 0 0 10px 0;
  }

  &__group--mrgn-20 {
    margin: 0 0 20px 0;
  }

  &__form_label {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 12px;
    letter-spacing: 0.12px;

    color: #757575;
  }

  &__form_input {
    padding: 12px 42px;

    height: 40px;

    width: 100%;
  }

  &__form_input,
  &__form_comment {
    @include border-settings(1px solid rgba(33, 33, 33, 0.2), 4px);

    transition: border 250ms $cubic-bezier-easing;
  }

  &__form_comment {
    padding: 12px 16px;

    resize: none;

    width: 100%;
    height: 120px;
  }

  textarea::placeholder {
    font-size: 12px;
    letter-spacing: 0.12px;

    color: rgba(117, 117, 117, 0.5);
  }

  &__form_comment:hover {
    border: 1px solid $main-blue-color;
  }

  &__group-checkbox {
    margin: 0 0 30px 0;

    display: flex;
    justify-content: center;
  }

  &__checkbox_input {
    position: absolute;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__checkbox_label {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 7px;
    justify-content: space-between;

    width: 100%;

    @include font-settings($l-height: normal, $l-spacing: 0.36px);
    @include font-style($text-grey-color, $font-size: 12px);

    @include onDesktop {
      @include font-settings($l-height: 24px, $l-spacing: 0.42px);
      @include font-style($text-grey-color, $font-size: 14px);
    }
  }

  &__checkbox_link {
    text-decoration-line: underline;

    @include font-settings($l-height: normal, $l-spacing: 0.36px);
    @include font-style($main-blue-color, $font-size: 12px);

@include onDesktop {
  @include font-style($main-blue-color, 14px);
  @include font-settings($l-height: 24px, $l-spacing: 0.42px);
}

    order: -1;
  }

  &__checkbox_icon {
    @include flexbox;
    @include border-settings(1px solid #000, 4px);

    width: 16px;
    height: 15px;
  }

  &__checkbox_input:checked + &__checkbox_icon {
    background-image: url(../images/svg/checkbox.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;

    border-color: $main-blue-color;
  }

  &__form_button {
    display: flex;
    justify-content: center;
  }

  &__form_item {
    padding: 0;

    width: 200px;
    height: 50px;

    background-color: $main-blue-color;

    @include border-settings(none, 4px);
    @include font-style(#fff, 16px, 700);
    @include font-settings($l-height: 30px, $l-spacing: 0.96px);

    transition: box-shadow 250ms $cubic-bezier-easing;
  }

  &__form_item:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }

  &__container-input {
    position: relative;

    display: inline;
  }

  &__form_icon {
    position: absolute;

    top: 11px;
    left: 12px;

    width: 18px;
    height: 18px;

    color: #212121;

    transition: color 250ms $cubic-bezier-easing;
  }

  &__form_input:focus + &__form_icon,
  &__container-input:hover &__form_icon {
    color: $main-blue-color;
  }

  &__container-input:hover &__form_input {
    border: 1px solid $main-blue-color;
  }
}
