.nav {
  display: none;
  gap: 93px;

  @include onTablet {
    display: flex;
    gap: 50px;
  }

  &__item {
    display: flex;
  }

  &__list {
    display: flex;
    gap: 50px;

    @include onPhone {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    @include font-style($text-black-color, 14px, 500);

    letter-spacing: 0.28px;

    transition: color 250ms $cubic-bezier-easing;
  }

  &__link:focus,
  &__link:hover {
    color: $main-blue-color;
  }
}
