.nav-mobile {
  @include onTablet {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 765;
  }

  &--open {
    position: fixed;
    top: 0;
    left: 0;

    padding: 48px 40px 48px 40px;

    display: flex;
    flex-direction: column;
    gap: 306px;

    background-color: #fff;

    width: 100vw;
    height: 100vh;

    z-index: 2;

    @include onTablet {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @include onTablet {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  &__link {
    @include font-style($main-blue-color, 18px, 500);

    width: fit-content;
  }

  &__item:not(:last-child)::after {
    content: "";

    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    margin: 0 10px 0 10px;
  }
}
