.nav {
  @include onTablet {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
  }

  @include onDesktop {
    max-width: 1200px;
  }

  &--open-mobile {
    position: fixed;
    top: 0;
    left: 0;

    padding: 48px 40px 48px 40px;

    display: flex;
    flex-direction: column;
    gap: 306px;

    background-color: #fff;

    width: 100vw;
    height: 100vh;

    z-index: 2;

    @include onTablet {
      display: none;
    }
  }

  &__content {
    display: none;
    flex-direction: column;

    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;
    }
    @include onDesktop {
    }
  }

  &__item {
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding: 0 0 300px 0;

    @include onTablet {
      display: flex;
      flex-direction: row;
      gap: 50px;

      padding: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    @include font-style($text-black-color, 40px, 500);

    @include onTablet {
      font-size: 14px;
    }

    letter-spacing: 0.28px;

    transition: color 250ms $cubic-bezier-easing;
  }

  &__link:focus,
  &__link:hover {
    color: $main-blue-color;
  }

  &__list-mobile {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include onTablet {
      display: none;
    }
  }

  &__item-mobile {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  &__link-mobile {
    @include font-style($main-blue-color, 18px, 500);

    width: fit-content;
  }

  &__item-mobile:not(:last-child)::after {
    content: "";

    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    margin: 0 10px 0 10px;
  }
}
