.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  @include onPhone {
    text-align: center;
  }

  &__title {
    letter-spacing: 0.42px;
    text-transform: uppercase;

    @include font-style(#fff, 14px, 700);
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__item {
    @include flexbox;

    width: 44px;
    height: 44px;
  }

  &__link {
    @include flexbox;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: #fff;

    transition: background-color 250ms $cubic-bezier-easing;
  }

  &__link:focus,
  &__link:hover {
    background-color: $main-blue-color;
  }

  &__svg {
    @include social-icons-size;

    transition: color 250ms $cubic-bezier-easing;

    color: $svg-grey-color;
  }

  &__link:focus &__svg,
  &__link:hover &__svg {
    color: #fff;
  }

  &__link--footer-grey-bgnd {
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 50%;
  }

  &__svg--footer-icons {
    display: flex;

    color: #fff;
  }
}
