$main-blue-color: #2196f3;
$text-grey-color: #757575;
$text-black-color: #212121;
$background-black-color: #2f303a;
$background-grey-color: #f5f4fa;
$svg-grey-color: #afb1b8;

$cubic-bezier-easing: cubic-bezier(0.4, 0, 0.2, 1);
