$color-dark-blue: #2f303a;
$color-light-blue: #2196f3;
$color-gray: #757575;
$color-transparent-gray: #ffffff1a;
$color-light-gray: #afb1b8;
$color-white: #ffffff;
$color-white-gray: #ffffff4d;
$color-button-hero: #490338;
$background-color-button-hero: #ff69b4;
$color-black: #212121;
$color-dark-black: #000000;
$section-title-font-size: 24px;
$font-family: 'Roboto', 'sans-serif';
$font-inherit: inherit;
$font-Raleway: Raleway;
